@use "../../node_modules/@coreui/coreui/scss/coreui" with (
	$primary: #5a05ba,//#6f4bfd,//#4e08db,
	$warning: #ff8633,
	//$body-bg: transparent,//#e9ebec,
	//$body-bg-dark: #151514,//#23272c,//#232223,//#393839,
	//$border-color: #d9dbdf,
	//$border-color-dark: rgb(27, 27, 27),
	$font-family-sans-serif: ("Nunito", sans-serif), 
	
);
